* {
  box-sizing: border-box;
}
body {
  height: 100vw;
  overflow: hidden;
  margin: 0;
}
.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.panel.active {
  flex: 4;
  transition: flex 0.3s ease-in;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.3s;
}
.panel {
  height: 80vh;
  flex: 0.5;
  margin: 0.5rem;
  border-radius: 50px;
  position: relative;
  background-repeat: no-repeat;
  cursor: pointer;
}
h3 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-family: sans-serif;
  color: white;
  opacity: 0;
}

@media (max-width: 920px) {
  .panel:nth-last-of-type(1),
  .panel:nth-last-of-type(2) {
    display: none;
  }
}
